<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.veote.lyricplaylistorganizer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AllSongsAcitivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewSongActivity"
            android:label="@string/title_activity_view_song"
            android:parentActivityName=".AllSongsAcitivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.veote.lyricplaylistorganizer.AllSongsAcitivity" />
        </activity>
    </application>

</manifest>